# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Node.js
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
frontend/dist/

# Logs
logs
*.log
tests/*.log

# Daten
data/*.json

# Runtime
.pids

# VS Code
.vscode/

# Mac
.DS_Store

# Env
.env
.env.local
.env.production
